@font-face {
   font-family: '1pol';
   font-display: swap;
   src: url('file:///C:/Users/Administrator/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-07-13_005643/fonts/1pol/font.woff2');
}
